@use '../abstracts/' as *;

.team-wrapper {
  .team-card {
    @include center-vertical(4px);
    @include slow;
    counter-increment: team_card;
    flex-direction: column;
    flex: 1;
    cursor: pointer;
    position: relative;
    padding: 1.2rem;
    border: 1px solid $light-black;
    border-radius: 1.5rem;
    background-color: $white;
  }

  .team-card:hover {
    border-color: $primary-color;
  }

  .team-card::before {
    @include font(1.2rem, 400);
    content: counter(team_card);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    background-color: $light-purple;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
  }

  .img-wrapper {
    text-align: center;
  }

  .img {
    display: inline-block;
    max-width: 6.2rem;
    width: 100%;
  }

  .name {
    @include font(2.1rem, 700);
    @include limitText(2);
    line-height: 1.2;
    text-transform: capitalize
  }

  .id,
  .number {
    @include font(1.2rem, 400);
    @include limitText(1);
  }

  .id {
    margin-top: auto;
  }

  .number {
    color: $primary-color;
  }
}
