<div class="hero-card user {{ className }}">
  <div class="hero-card-images">
    <img
      src="../assets/images/desktop/{{ img1 }}"
      alt="profile pic"
      class="hero-card-image"
    />
    <img
      src="../assets/images/desktop/{{ img2 }}"
      alt="profile pic"
      class="hero-card-image"
    />
    <img
      src="../assets/images/desktop/{{ img3 }}"
      alt="profile pic"
      class="hero-card-image"
    />
  </div>
  <div class="hero-card-more">
    <h4 class="hero-card-number">12k</h4>
    <p class="hero-card-name">Active users</p>
  </div>
</div>
