<header class="header">
  <div class="header-left">
    <picture>
      <source
        media="(max-width: 768px)"
        srcset="../assets/images/mobile/logo_mobile.png"
      />
      <img src="../assets/icons/logo.svg" alt="logo" />
    </picture>
    <!-- <img src="../assets/images/mobile/logo_mobile.png" alt="logo" /> -->
    <h3 class="logo-name">NFT logoplace</h3>
    <div class="search">
      <input type="text" class="search-input" placeholder="Search" />
      <img
        src="../assets/icons/search.svg"
        alt="seach icon"
        class="search-icon"
      />
    </div>
  </div>
  <div class="header-right">
    <include
      src="./components/menus.html"
      locals='{
      "menus": "[`Home`, `Brows`, `Create`, `MyNFT`]"
    }'
    ></include>
    <div class="noti-btn">
      <figure class="noti-icon">
        <img src="../assets/icons/noti.svg" alt="noti icon" />
        <img src="../assets/icons/dot.svg" alt="dot" class="dot" />
      </figure>
    </div>
    <figure class="auth">
      <figcaption>Account</figcaption>
      <img
        src="../assets/images/desktop/account_profilePic.png"
        alt="account image"
      />
    </figure>
  </div>
  <figure class="menu-icon">
    <img src="../assets/icons/menu.svg" alt="Menu" />
  </figure>
</header>
