<main>
  <!-- hero -->
  <section class="hero">
    <div class="hero-wrapper">
      <h1 class="hero-title">Explore Unique Digital Art and Collectibles</h1>
      <p class="hero-desc">
        Lorem ipsum dolor sit amet consectetur. Iaculis vestibulum purus
        facilisi ultrices sed faucibus proin cum ut. Eu dictum nisi facilisis
        non habitant senectus eget sollicitudin.
      </p>
      <div class="hero-buttons">
        <button class="btn btn-bg">
          <span>Discover now</span>
          <img src="../assets/icons/arrow_right.svg" alt="icon array right" />
        </button>
        <button class="btn">
          <img src="../assets/icons/diamond.svg" alt="icon array right" />
          <span>Create your own</span>
        </button>
      </div>

      <!-- card hero - Sales -->
      <include
        src="./components/vertical-hero-card.html"
        locals='{
        "className": "desktop",
        "number": "160k"
      }'
      ></include>
      <include
        src="./components/vertical-hero-card.html"
        locals='{
        "className": "mobile",
        "number": "12k"
      }'
      ></include>

      <!-- card hero - Users -->
      <include
        src="./components/horizontal-hero-card.html"
        locals='{
        "className": "desktop",
        "img1": "profilePic1.png",
        "img2": "profilePic2.png",
        "img3": "profilePic3.png"
      }'
      ></include>
      <include
        src="./components/horizontal-hero-card.html"
        locals='{
        "className": "desktop",
        "img1": "profilePic5.png",
        "img2": "profilePic6.png",
        "img3": "ebony.jpeg"
      }'
      ></include>
    </div>
  </section>

  <!-- buttons in mobile -->
  <section class="hero-buttons mobile">
    <button class="btn btn-bg">
      <span>Discover now</span>
      <img src="../assets/icons/arrow_right.svg" alt="icon array right" />
    </button>
    <button class="btn">
      <img
        src="../assets/icons/diamond-purple.svg"
        alt="icon array right"
        class="primary"
      />
      <img
        src="../assets/icons/diamond.svg"
        alt="icon array right"
        class="secondary"
      />
      <span>Create your own</span>
    </button>
  </section>

  <!-- Feature -->
  <section class="feature">
    <header class="feature-head">
      <h3 class="feature-title">Featured NFTs</h3>
      <div class="feature-navigate">
        <img src="../assets/icons/left.svg" alt="left arrow" />
        <img src="../assets/icons/right.svg" alt="right arrow" />
      </div>
    </header>
    <main class="nft-cards">
      <div class="nft-card">
        <include
          src="./components/ntfcard-image.html"
          locals='{
          "heart": "heart.svg",
          "img": "nft_ironman.jpeg"
        }'
        ></include>
        <div class="nft-card-content">
          <div class="nft-card-body">
            <h4 class="name">Iron Man</h4>
            <div class="id">
              <figure class="images">
                <img
                  src="../assets/images/desktop/profilePic4.png"
                  alt="profile pic"
                />
              </figure>
              <figure class="images">
                <img
                  src="../assets/images/desktop/profilePic5.png"
                  alt="profile pic"
                />
              </figure>
              <span class="text"> @CosmicArtisan , @Sculptors </span>
            </div>
          </div>
          <div class="nft-card-footer">
            <div class="nft-card-pricing">
              <p class="current-bid">Current Bid :</p>
              <span class="pricing-left">
                <img src="../assets/icons/currency.svg" alt="Ethereum" />
                1.35 ETH
              </span>
            </div>
            <button class="nft-card-button btn btn-bg">Place a Bid</button>
          </div>
        </div>
        <button class="explore-filter">
          Filter
          <img src="../assets/icons/filter.svg" alt="Filter" />
        </button>
      </div>
      <div class="nft-card mobile">
        <include
          src="./components/ntfcard-image.html"
          locals='{
          "heart": "heart.svg",
          "img": "nft_ironman.jpeg",
          "avt1": "profilePic4.png",
          "avt2": "profilePic5.png",
          "text": "@CosmicArtisan , @Sculptor",
          "price": "1.35",
          "className": "mobile"
        }'
        ></include>
        <div class="nft-card-body">
          <h4 class="name">Feline Brushstrokes</h4>
          <div class="id">
            <figure class="images">
              <img
                src="../assets/images/desktop/profilePic6.png"
                alt="profile pic"
              />
            </figure>
            <figure class="images">
              <img
                src="../assets/images/desktop/profilePic7.png"
                alt="profile pic"
              />
            </figure>
            <span class="text"> @Robotica , @MysticInk </span>
          </div>
        </div>
        <div class="nft-card-footer">
          <div class="nft-card-pricing">
            <p class="current-bid">Current Bid :</p>
            <span class="pricing-left">
              <img src="../assets/icons/currency.svg" alt="Ethereum" />
              1.35 ETH
            </span>
          </div>
          <button class="nft-card-button btn btn-bg">Place a Bid</button>
        </div>
      </div>
      <div class="nft-card">
        <include
          src="./components/ntfcard-image.html"
          locals='{
          "heart": "heart.svg",
          "img": "nft_enigma.jpeg"
        }'
        ></include>
        <div class="nft-card-body">
          <h4 class="name">Illuminated Enigma</h4>
          <div class="id">
            <figure class="images">
              <img
                src="../assets/images/desktop/profilePic8.png"
                alt="profile pic"
              />
            </figure>
            <figure class="images">
              <img
                src="../assets/images/desktop/profilePic9.png"
                alt="profile pic"
              />
            </figure>
            <span class="text"> @EtherFlow , @NanoNebula </span>
          </div>
        </div>
        <div class="nft-card-footer">
          <div class="nft-card-pricing">
            <p class="current-bid">Current Bid :</p>
            <span class="pricing-left">
              <img src="../assets/icons/currency.svg" alt="Ethereum" />
              1.35 ETH
            </span>
          </div>
          <button class="nft-card-button btn btn-bg">Place a Bid</button>
        </div>
      </div>
      <div class="nft-card tablet">
        <include
          src="./components/ntfcard-image.html"
          locals='{
          "heart": "heart.svg",
          "img": "pint.jpeg"
        }'
      ></include>
      <include
        src="./components/ntfcard-image.html"
        locals='{
            "name": "Pint-Sized Voyager",
            "heart": "heart.svg",
            "img": "pint.jpeg",
            "avt1": "profilePic6.png",
            "avt2": "",
            "text": "@BinaryBard",
            "price": "1.87",
          "className": "tablet"
          }'
      ></include>

      <include
        src="./components/ntfcard-image.html"
        locals='{
            "name": "Charmingly Fluffed",
            "heart": "heart.svg",
            "img": "fluffed.jpeg",
            "avt1": "profilePic7.png",
            "avt2": "profilePic12.png",
            "text": "@LunarArt , @Robotica",
            "price": "2.32",
          "className": "tablet"
        }'
      ></include>

      <include
        src="./components/ntfcard-image.html"
        locals='{
            "name": "Rosa Vista Realm",
            "heart": "heart.svg",
            "img": "rosa.png",
            "avt1": "profilePic4.png",
            "avt2": "profilePic5.png",
            "text": "@CosmicArtisan , @Sculptor",
            "price": "1.35",
          "className": "mobile"
        }'
      ></include>

      <include
        src="./components/ntfcard-image.html"
        locals='{
            "name": "Gilded Ebony",
            "heart": "heart.svg",
            "img": "ebony.jpeg",
            "avt1": "profilePic6.png",
            "avt2": "profilePic7.png",
            "text": "@Robotica , @MysticInk",
            "price": "1.68",
          "className": "mobile"
        }'
      ></include>

      <include
        src="./components/ntfcard-image.html"
        locals='{
            "name": "Hazy Hue Wolf",
            "heart": "heart.svg",
            "img": "hazy.jpeg",
            "avt1": "profilePic8.png",
            "avt2": "profilePic9.png",
            "text": "@EtherFlow , @NanoNebula",
            "price": "2.05",
          "className": "desktop"
        }'
      ></include>

      <include
        src="./components/ntfcard-image.html"
        locals='{
            "name": "Pint-Sized Voyager",
            "heart": "heart.svg",
            "img": "voyater.jpeg",
            "avt1": "profilePic6.png",
            "avt2": "",
            "text": "@BinaryBard",
            "price": "1.87",
          "className": "tablet"
        }'
      ></include>

      <include
        src="./components/ntfcard-image.html"
        locals='{
            "name": "Poker",
            "heart": "heart_active.svg",
            "img": "poker.jpeg",
            "avt1": "profilePic7.png",
            "avt2": "profilePic12.png",
            "text": "@LunarArt , @Robotica",
            "price": "2.32",
          "className": "tablet"
        }'
      ></include>

      <include
        src="./components/ntfcard-image.html"
        locals='{
          "name": "Illuminated Enigma",
          "heart": "heart_active.svg",
          "img": "nft_enigma.jpeg",
          "avt1": "profilePic8.png",
          "avt2": "profilePic9.png",
          "text": "@EtherFlow , @NanoNebula",
          "price": "2.05",
          "className": "hide"
        }'
      ></include>
    </main>
  </section>
</main>
