<main>
  <!-- hero -->
  <section class="hero">
    <div class="hero-wrapper">
      <h1 class="hero-title">Explore Unique Digital Art and Collectibles</h1>
      <p class="hero-desc">
        Lorem ipsum dolor sit amet consectetur. Iaculis vestibulum purus
        facilisi ultrices sed faucibus proin cum ut. Eu dictum nisi facilisis
        non habitant senectus eget sollicitudin.
      </p>
      <div class="hero-buttons">
        <button class="btn btn-bg">
          <span>Discover now</span>
          <img src="../assets/icons/arrow_right.svg" alt="icon array right" />
        </button>
        <button class="btn">
          <img src="../assets/icons/diamond.svg" alt="icon array right" />
          <span>Create your own</span>
        </button>
      </div>

      <!-- card hero - Sales -->
      <div class="hero-card sale desktop">
        <img
          src="../assets/icons/total_sale.svg"
          alt="total sale icon"
          class="hero-card-image"
        />
        <h4 class="hero-card-number">160k</h4>
        <p class="hero-card-name">Total sales</p>
      </div>
      <div class="hero-card sale mobile">
        <img
          src="../assets/icons/total_sale.svg"
          alt="total sale icon"
          class="hero-card-image"
        />
        <h4 class="hero-card-number">12k</h4>
        <p class="hero-card-name">Total sales</p>
      </div>

      <!-- card hero - Users -->
      <div class="hero-card user desktop">
        <div class="hero-card-images">
          <img
            src="../assets/images/desktop/profilePic1.png"
            alt="profile pic"
            class="hero-card-image"
          />
          <img
            src="../assets/images/desktop/profilePic2.png"
            alt="profile pic"
            class="hero-card-image"
          />
          <img
            src="../assets/images/desktop/profilePic3.png"
            alt="profile pic"
            class="hero-card-image"
          />
        </div>
        <div class="hero-card-more">
          <h4 class="hero-card-number">12k</h4>
          <p class="hero-card-name">Active users</p>
        </div>
      </div>
      <div class="hero-card user mobile">
        <div class="hero-card-images">
          <img
            src="../assets/images/desktop/profilePic5.png"
            alt="profile pic"
            class="hero-card-image"
          />
          <img
            src="../assets/images/desktop/profilePic6.png"
            alt="profile pic"
            class="hero-card-image"
          />
          <img
            src="../assets/images/desktop/ebony.jpeg"
            alt="profile pic"
            class="hero-card-image"
          />
        </div>
        <div class="hero-card-more">
          <h4 class="hero-card-number">12k</h4>
          <p class="hero-card-name">Active users</p>
        </div>
      </div>
    </div>
  </section>

  <!-- buttons in mobile -->
  <div class="hero-buttons mobile">
    <button class="btn btn-bg">
      <span>Discover now</span>
      <img src="../assets/icons/arrow_right.svg" alt="icon array right" />
    </button>
    <button class="btn">
      <img
        src="../assets/icons/diamond-purple.svg"
        alt="icon array right"
        class="primary"
      />
      <img
        src="../assets/icons/diamond.svg"
        alt="icon array right"
        class="secondary"
      />
      <span>Create your own</span>
    </button>
  </div>
</main>
