@use '../../abstracts/' as *;

.group-bg {
  position: absolute;
  z-index: -1;
}

.group-bg.group-1 {
  transform: translateY(-45%);
  right: 0;
}

.feature {
  margin-top: 6.4rem;
}

.feature-head {
  @include between {
    align-items: center;
  }

  .feature-title {
    @include font(3.7rem, 700);
    color: $primary-color;
  }

  .feature-navigate {
    @include center-vertical;
    cursor: pointer;
  }
}

.nft-cards {
  margin-top: 2.4rem;
  display: flex;
  gap: 2.4rem;
  background-color: $white;
  border-radius: 1.5rem;

  @include xxl {
    grid-template-columns: repeat(3, 1fr);
  }

  @include md {
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: fit-content;
    margin-inline: auto;
    background-color: transparent;
    gap: 1.2rem;
  }

  @include sm {
    grid-template-columns: 1fr;
  }
}
